<h1><%= @record_label.name %></h1>
<h3><a href="/recordlabels/<%=@record_label.id%>/artists">View Artists</a></h3>
<p>Major Label: <%= @record_label.major_label %>
<p>Launched Tours: <%= @record_label.launched_tours %>
<p>Genre Focus: <%= @record_label.genre_focus %>
<div id="artist_count"
<p>Number of Artists: <%= @record_label.artists.count %></p>
</div>
<br>
<button type="button" onclick="window.location.href='/recordlabels/<%=@record_label.id%>/edit'">Edit <%=@record_label.name%> </button>

